# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# Analyses
include/triton/Analysis/Alias.h @Jokeren
include/triton/Analysis/Allocation.h @Jokeren
include/triton/Analysis/AxisInfo.h @ptillet
include/triton/Analysis/Membar.h @Jokeren
include/triton/Analysis/Utility.h @Jokeren

# Conversions
include/triton/Conversion/TritonGPUToLLVM/ @goostavz @Superjomn
include/triton/Conversion/TritonToTritonGPU/ @daadaada

# Targets
include/triton/Target/LLVMIR/ @goostavz @Superjomn
include/triton/Target/PTX/ @goostavz @Superjomn
