# Triton builds
build/
build-*/

# Triton Python module builds
python/build/
python/dist/
python/triton*.egg-info/

python/triton/_C/*.pyd
python/triton/_C/*.so
python/triton/_C/*.dylib
python/triton/_C/*.pdb
python/triton/_C/*.exe
python/triton/_C/*.ilk

# Backends copied from submodules
python/triton/backends/
!python/triton/backends/__init__.py
!python/triton/backends/compiler.py
!python/triton/backends/driver.py

# Language extras
python/triton/language/extra

# Tools extras
python/triton/tools/extra

# Proton
python/triton/profiler

# Pytest
pytest.ini

# Instrumentation
python/triton/instrumentation

# Python caches
__pycache__/
*.py[cod]
.pytest_cache

# Environments
.venv
venv/
venv.bak/

# VS Code project files
.vscode
.vs

# JetBrains project files
.idea
cmake-build-*

# Third-party binaries
cuobjdump
nvdisasm
ptxas

# Third-party include
third_party/nvidia/backend/include
third_party/nvidia/backend/lib/cupti

# Docs
docs/_build/
docs/python-api/generated/
docs/dialects/
docs/getting-started/tutorials
docs/sg_execution_times.rst
!python/tutorials/*.py
!python/tutorials/*.rst

# clangd index. (".clangd" is a config file now, thus trailing slash)
.clangd/
.cache
/compile_commands.json
.vscode
.vs

# Vim
*.swp

# macOS
.DS_Store
