{
  "ttgir" : {
    "passes" : [
"ttir.add_convert_to_ttgpuir",
"ttgpuir.add_coalesce",
"ttgpuir.add_f32_dot_tc",
"ttnvgpuir.add_plan_cta",
"ttgpuir.add_remove_layout_conversions",
"ttgpuir.add_optimize_thread_locality",
"ttgpuir.add_accelerate_matmul",
"ttgpuir.add_remove_layout_conversions",
"ttgpuir.add_optimize_dot_operands",
"ttnvgpuir.add_optimize_descriptor_encoding",
"ttir.add_loop_aware_cse",
"ttgpuir.add_fuse_nested_loops",
"common.add_canonicalizer",
"ttir.add_triton_licm",
"common.add_canonicalizer",
"ttgpuir.add_combine_tensor_select_and_if",
"nvidia.hopper.add_hopper_warpspec",
"ttgpuir.add_assign_latencies",
"ttgpuir.add_schedule_loops",
"ttgpuir.add_pipeline",
"ttgpuir.add_fuse_nested_loops",
"common.add_canonicalizer",
"ttir.add_triton_licm",
"ttgpuir.add_optimize_accumulator_init",
"ttgpuir.add_hoist_tmem_alloc{False}",
"ttnvgpuir.add_promote_lhs_to_tmem",
"ttgpuir.add_assign_latencies",
"ttgpuir.add_schedule_loops",
"ttgpuir.add_warp_specialize",
"ttgpuir.add_pipeline",
"ttgpuir.add_combine_tensor_select_and_if",
"ttgpuir.add_hoist_tmem_alloc{True}",
"ttnvgpuir.add_remove_tmem_tokens",
"ttir.add_triton_licm",
"common.add_canonicalizer",
"ttir.add_loop_aware_cse",
"ttgpuir.add_prefetch",
"ttgpuir.add_optimize_dot_operands",
"ttgpuir.add_coalesce_async_copy",
"ttnvgpuir.add_optimize_tmem_layouts",
"ttgpuir.add_remove_layout_conversions",
"ttnvgpuir.add_interleave_tmem",
"ttgpuir.add_reduce_data_duplication",
"ttgpuir.add_reorder_instructions",
"ttir.add_loop_aware_cse",
"common.add_symbol_dce",
"ttnvgpuir.add_tma_lowering",
"ttnvgpuir.add_fence_insertion",
"ttnvgpuir.add_lower_mma",
"common.add_sccp",
"common.add_canonicalizer"
    ]
  }
}
